chromadb~=0.4.15
attrs==23.2.0
requests~=2.31.0
python-dateutil~=2.8.2
uvicorn~=0.24.0.post1
fastapi~=0.104.1
pydantic~=2.4.2
langchain~=0.0.330
outlines~=0.0.9
transformers~=4.35.0
pymupdf~=1.23.5
codaio~=0.6.10
datasets~=2.14.6
sentence-transformers~=2.2.2
